<mat-sidenav-container class="example-container" (backdropClick)="close('backdrop')">

  <!-- Side menu container -->
  <mat-sidenav #sidenav (keydown.escape)="close('escape')" disableClose autoFocus="false">

    <!-- Side menu -->
    <app-side-menu (closeSideMenu)="close('toggle button')"></app-side-menu>

  </mat-sidenav>

  <!-- Main page container -->
  <mat-sidenav-content>

    <!-- Toolbar component -->
    <app-toolbar *ngIf="( navigationSettings$ | async  ).toolbar" (openSideMenu)="sidenav.open()">
    </app-toolbar>

    <!-- Router outlet -->
    <router-outlet></router-outlet>

  </mat-sidenav-content>
</mat-sidenav-container>