<div class="page-without-toolbar" fxLayout="row" fxLayoutAlign="center center">

    <mat-card>
        <mat-card-header>
            <mat-card-title>{{'login.title' | translate}}</mat-card-title>
        </mat-card-header>

        <form name="loginForm" [formGroup]="loginForm" (submit)="login(loginForm.value)" fxLayout="column" novalidate>

            <mat-form-field appearance="outline">
                <mat-label>{{'login.usr' | translate}}</mat-label>
                <input matInput formControlName="username" autocorrect="off" autocapitalize="none">
                <mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
                <mat-error *ngIf="loginForm.get('username').hasError('required')">
                    {{'login.required' | translate}}
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>{{'login.psw' | translate}}</mat-label>
                <input matInput type="password" formControlName="password">
                <mat-icon matSuffix class="secondary-text">vpn_key</mat-icon>
                <mat-error>
                    {{'login.required' | translate}}
                </mat-error>
            </mat-form-field>

            <button mat-raised-button color="accent" class="submit-button" [disabled]="loginForm.invalid">
                {{'login.login' | translate}}
            </button>

        </form>


    </mat-card>

</div>