<div class="wall w-100-p h-100-p" fxLayout="row" fxLayoutAlign="center center">

    <div fxLayout="row wrap" fxLayoutAlign="center center">

        <div fxLayout="column" fxLayoutAlign="start start" class="mr-200 content w-40-p">

            <span ngClass.gt-sm="big-title" ngClass.lt-md="small-title" class="ralewayfont text">
                CryptoLoadz
            </span>


            <p ngClass.gt-sm="big-subtitle" ngClass.lt-md="small-subtitle" class="robotofont text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus non sollicitudin velit. Aliquam nulla
                metus, sollicitudin scelerisque imperdiet ac, elementum ac neque. Duis scelerisque est in nisl tempus
                sagittis. Aliquam massa ligula, accumsan non sapien et, porta eleifend ligula. Vivamus nec lacus
                maximus, euismod leo vitae, sodales dui. Proin scelerisque blandit lorem. Nulla tincidunt eu turpis
                tincidunt interdum. Donec nec mollis tellus, id gravida ante.
            </p>

            <p ngClass.gt-sm="big-subtitle" ngClass.lt-md="small-subtitle" class="robotofont text">
                Suspendisse potenti. Sed lacinia non dolor id porta. Vestibulum suscipit dolor purus, nec fermentum
                sapien ullamcorper eget. Cras eu sem nibh. Vestibulum hendrerit augue mattis ornare ultricies. Proin
                cursus vulputate efficitur. Cras at purus ut nibh blandit venenatis ac ac ligula. Cras ultricies mauris
                id ex convallis semper. In fringilla orci in varius pharetra. Nulla facilisi. Sed accumsan augue quis
                pharetra pharetra. Nullam maximus neque mi, ac varius dolor pharetra id. Nunc porta suscipit purus, quis
                luctus risus luctus et.
            </p>


        </div>

        <app-face id="test" class="canvas face-component"></app-face>
    </div>

    <!-- <div
        fxLayout="row"
        fxLayoutAlign="center center"
        fxLayoutGap="24px"
        style="position: fixed; bottom: 24px;"
    >
        <button
            style="background-color: white; color: black;"
            mat-fab
            onClick="window.open('//linkedin.com/in/niccolofanton21071997/')"
        >
            <mat-icon>link</mat-icon>
        </button>

      
    </div> -->

</div>