<div
    class="wall w-100-p h-100-p"
    fxLayout="row"
    fxLayoutAlign="center center"
>

    <div
        fxLayout="row wrap"
        fxLayoutAlign="center center"
    >
        <div
            fxLayout="column"
            fxLayoutAlign="center start"
        >
            <span
                ngClass.gt-sm="big-title"
                ngClass.lt-md="small-title"
                class="ralewayfont text"
            >
                Niccoló Fanton.
            </span>
            <span
                ngClass.gt-sm="big-subtitle"
                ngClass.lt-md="small-subtitle"
                class="robotofont text"
            >
                &#60;web and mobile developer&#47;&#62;
            </span>
        </div>

        <app-face
            id="test"
            class="canvas face-component"
        ></app-face>
    </div>

    <div
        fxLayout="row"
        fxLayoutAlign="center center"
        fxLayoutGap="24px"
        style="position: fixed; bottom: 24px;"
    >
        <button
            style="background-color: white; color: black;"
            mat-fab
            onClick="window.open('//linkedin.com/in/niccolofanton/')"
        >
            <mat-icon>link</mat-icon>
        </button>

        <!-- <button
            style="background-color: white; color: black;"
            mat-fab
            onClick="window.open('//linkedin.com/in/niccolofanton/')"
        >
            <mat-icon>link</mat-icon>
        </button> -->
    </div>

</div>
