html,
body {
    scroll-behavior: smooth;
    height: 100%;
    margin: 0;
    /* hide scrollbar */
    scrollbar-width: none;
    -ms-overflow-style: none;
}

/* hide scrollbar */
::-webkit-scrollbar {
    display: none;
}

/* Color palete */
:root {
    --text-color: #fff;
    --background: #d9ecf2;
    --primary: #1aa6b7;
    --secondary: #f56a79;
    --secondary-darker: #ff414d;

    --card-margin: 48px;
}

.relative {
    position: relative;
    top: 50vh;
    position: sticky;
}

.page {
    display: flex;
    flex-direction: row;

    min-height: 100%;
    background-color: var(--background);
}

.end {
    justify-content: flex-end;
}

.center {
    justify-content: center;
}

.floating-text {
    min-height: 100%;
    width: 25%;

    display: flex;
    align-items: center;
    justify-content: flex-end;

    mix-blend-mode: difference;
    z-index: 9999;
}

.right {
    position: relative;
    min-height: 100%;
    width: 50%;
    /* margin-right: 25%; */
}

.red-box {
    position: fixed;
    background-color: var(--secondary);
    height: 100%;
    width: 50%;
    z-index: 1;

    animation: card 1s cubic-bezier(0.4, 0.0, 0.2, 1) infinite;
    animation-play-state: paused;
    animation-delay: calc(var(--scroll) * -1s);

    /* animation-iteration-count: 1; */
    animation-fill-mode: both;
}

@keyframes card {

    0% {
        /* fullscreen right */
        height: 100%;
        width: 50%;
        margin: 0px;
        border-radius: 0px;
    }

    20% {
        /* small right */
        height: calc(100% - var(--card-margin)*2);
        width: calc(50% - var(--card-margin)*2);
        margin: var(--card-margin);
        border-radius: 16px;
    }

    40% {
        /* fullscreen right */
        height: 100%;
        width: 50%;
        margin: 0px;
        border-radius: 0px;
    }

    60% {
        /* fullscreen left */
        height: 100%;
        width: 50%;
        margin: 0px;
        border-radius: 0px;
        transform: translateX(-100%)
    }

    80% {
        /* card left */
        height: calc(100% - var(--card-margin)*2);
        width: calc(50% - var(--card-margin)*2);
        margin: var(--card-margin);
        border-radius: 16px;
        transform: translateX(-100%)
    }

    100% {
        height: 100%;
        width: 50%;
        margin: 0px;
        border-radius: 0px;
    }
}

/* material shadow */
.shadow {
    /* box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); */
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.roboto-mono {
    font-family: 'Roboto Mono', monospace;
}

.primary-text {
    z-index: 999999;
    color: var(--secondary-darker);
    mix-blend-mode: difference;
}

.main-name {
    position: absolute;
    font-size: 50px;
    top: -68px;
    right: -170px;
    white-space: nowrap;
}