html,
body {
    scroll-behavior: smooth;
    height: 100%;
    margin: 0;
    /* hide scrollbar */
    scrollbar-width: none;
    -ms-overflow-style: none;
}

/* hide scrollbar */
::-webkit-scrollbar {
    display: none;
}

/* Color palete */
:root {
    --text-color: #fff;
    --background: #d9ecf2;
    --primary: #1aa6b7;
    --secondary: #f56a79;
    --secondary-darker: #ff414d;
    --card-margin: 48px;
}

.page {
    position: relative;
    display: flex;
    flex-direction: row;
    min-height: 100%;
    background-color: var(--background);
}

.right {
    position: absolute;
    min-height: 100%;
    width: 50%;
}

.end {
    justify-content: flex-end;
}

.center {
    justify-content: center;
}

.text-container {
    min-height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}


.roboto-mono {
    font-family: 'Roboto Mono', monospace;
}

.primary-text {
    mix-blend-mode: difference;
    z-index: 9999;
    color: var(--secondary-darker);
    mix-blend-mode: difference;
}

.main-name {
    position: sticky;
    top: calc(50% - 32.8px);
    font-size: 50px;
    white-space: nowrap;
}


.red-box {
    position: fixed;
    background-color: var(--secondary);
    height: 100%;
    width: 50%;
    z-index: 1;
    animation: card 1s cubic-bezier(0.4, 0.0, 0.2, 1) infinite;
    animation-play-state: paused;
    animation-delay: calc(var(--scroll) * -1s);
    animation-fill-mode: both;
}

/* material shadow */
.shadow {
    /* box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); */
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

@keyframes card {

    0% {
        /* fullscreen right */
        height: 100%;
        width: 50%;
        margin: 0px;
        border-radius: 0px;
        transform: translateX(50%);
    }

    16.6% {
        /* small right */
        height: calc(100% - var(--card-margin)*2);
        width: calc(50% - var(--card-margin)*2);
        margin: var(--card-margin);
        border-radius: 16px;
        transform: translateX(50%)
    }

    22.13% {
        /* ball right */
        margin-top: calc(25% - 75px);
        height: 150px;
        width: 150px;
        border-radius: 1000px;
        transform: translateX(50%);
    }

    27.66% {
        /* ball left */
        margin-top: calc(25% - 75px);
        height: 150px;
        width: 150px;
        border-radius: 1000px;
        transform: translateX(-50%);
    }

    33.3% {

        /* small left */
        height: calc(100% - var(--card-margin)*2);
        width: calc(50% - var(--card-margin)*2);
        margin: var(--card-margin);
        border-radius: 16px;
        transform: translateX(-50%);

    }

    49.96% {
        /* fullscreen left */
        height: 100%;
        width: 50%;
        margin: 0px;
        border-radius: 0px;
        transform: translateX(-50%)
    }

    66.63% {
        /* small left */
        height: calc(100% - var(--card-margin)*2);
        width: calc(50% - var(--card-margin)*2);
        margin: var(--card-margin);
        border-radius: 16px;
        transform: translateX(-50%);
    }

    83.29% {
        /* small right */
        height: calc(100% - var(--card-margin)*2);
        width: calc(50% - var(--card-margin)*2);
        margin: var(--card-margin);
        border-radius: 16px;
        transform: translateX(50%)
    }


    100% {
        /* fullscreen right */
        height: 100%;
        width: 50%;
        margin: 0px;
        border-radius: 0px;
        transform: translateX(50%)
    }
}