<!-- <span class="example-pizza-party">
  Pizza party!!! <svg class="spinner" width="65px" height="65px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
    <circle class="path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
  </svg>
</span> -->

<div fxLayout="row" fxLayoutAlign="start center">
  <div>
    <mat-spinner [diameter]="24" color="accent" class="h-24 mr-24" ></mat-spinner>
  </div>
  <span fxFlex="90%" fxFlexFill >Caricamento...</span>
</div>